@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: url("http://goo.gl/nL5JbX");
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #FFF;
    line-height: normal;
    /*font-smoothing: antialiased;*/
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px;
    transition: all 0.5s ease-in-out;
}
#sidebar ul li {
    background: #81C5EF;
    overflow: hidden;
    transition: all .5s ease-in-out;
    white-space: nowrap;
    max-width: 50px;
    min-width: 50px;
}
#sidebar ul li:hover {
    /*max-width: 100%;*/
    max-width: 200px;
}
#sidebar ul > li a {
    height: 50px;
    border-top: 1px solid #6abbec;
    display: block;
    color: #FFF;
    line-height: 50px;
    text-decoration: none;
}
#sidebar ul li a i {
    width: 50px;
    height: 50px;
    box-shadow: 1px 0 #6abbec;
    font-size: 12pt;
    text-align: center;
    line-height: 50px;
}
#sidebar ul li a span {
    padding: 0 15px;
    opacity: 0;
    transform: translateX(15px);
}
#sidebar:hover ul li a span {
    opacity: 1;
    transform: translateX(0);
}
