%nav#sidebar
  %ul
    %li
      %a{:href=>'#'} <i class="fa fa-user"></i><span>White Wolf Wizard</span>
    %li
      %a{:href=>'#'} <i class="fa fa-send"></i><span>Inbox</span>
    %li
      %a{:href=>'#'} <i class="fa fa-cog"></i><span>Settings</span>
    %li
      %a{:href=>'#'} <i class="fa fa-question-circle"></i><span>Help</span>
    %li
      %a{:href=>'#'} <i class="fa fa-power-off"></i><span>Log Out</span>